.allure
**/allure-results

.yarn/*


#IDEA Files
.idea/*
!.idea/vcs.xml
!.idea/icon.png
*.iml
*.ipr

logs
.env
*.apk
*.ap_
*.dex
*.class
**/bin/
**/gen/
.gradle/
build/
local.properties
**/proguard/
*.log
